.menu
  .menu__title Меню
  .menu__list
    .list-group
    a.list-group-item.list-group-item-action.active(href='#', aria-current='true')
      | Пункт 1
    a.list-group-item.list-group-item-action(href='#') Пункт 2
    a.list-group-item.list-group-item-action(href='#') Пункт 3
    a.list-group-item.list-group-item-action(href='#') Пункт 4
