@import '../menu/index.scss';
@import '../main-footer/index.scss';
@import '../search/index.scss';
@import '../table/index.scss';

.main{
  font-size: 1.4rem;
  background-color: #e0d8d8;
  height: 100%;
}