.search
  .input-group.mb-3
    input.form-control(type='text', placeholder="Введите название", aria-label="Recipient's username", aria-describedby='basic-addon2')
    span#basic-addon2.input-group-text ПОИСК
