.table 
  .table__header 
    .table__header-name ФИО
    .table__header-position Должность
    .table__header-age Возраст
    .table__header-competitions Компетенции
  .table__contacts 
  .table__add
  .table__buttons
    button.btn.btn-submit-all.btn-success(type='button') Отправить
    button.btn.btn-primary(type='button', data-toggle='modal', data-target='#exampleModal', data-whatever='@mdo') Добавить
